/* Variables */
:root {
    --duration: 0.3s;
    --text-color: rgb(255, 255, 255);
    --icon-color: rgb(255, 166, 0);
    --card-background-color: rgb(30, 0, 128);
    --inner-card-background-color: rgba(77, 36, 211, 0.35);
    --standard-font-size: 16px;
    --header-font-size: 1.7rem;
}
/* Root */
* {
    padding: 0;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
    font-family: "Acme", sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* App Container */
#app-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 1600px;
    height: 800px;
}

/* Search Function */
#location-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: blue;
    padding: 10px;
}
.location-bar {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 2.2em;
    background-color: white;
    border-radius: 5px;
}
#location-input {
    flex-grow: 5;
    height: 100%;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#search-btn {
    flex-grow: 1;
    border: none;
}
#current-location-btn {
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 33px;
    padding: 6px 6px 6px 6px;
}
#current-location-btn svg {
    display: block;
    padding: 0;
    margin: 0;
}

/* Search/Location Weather Card */

#weather-data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
}
.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--card-background-color);
    color: var(--text-color);
    border: var(--text-color) solid 2px;
    border-radius: 5px;
    width: 270px;
    min-width: 270px;
    height: 320px;
    min-height: 320px;
    margin: 38px 10px 38px 10px;
    padding: 5px;
    animation: slider var(--duration);
    animation-fill-mode: forwards;
    outline: transparent 5px solid;
}
.weather-card:focus {
    outline: var(--icon-color) 5px solid;
}
@keyframes slider {
    from {
        transform: translateY(-1000%);
    }
    to {
        transform: translateY(0%);
    }
}
.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}
#weather-temp-info {
    background-color: var(--inner-card-background-color);
    border-radius: 5px;
    width: 80%;
}
#weather-header {
    font-size: var(--header-font-size);
    margin: 0;
    max-height: 110px;
}
#weather-header span {
    font-size: 1.8rem;
    background-color: var(--icon-color);
    width: 34px;
    height: 34px;
    padding: 2px;
    border-radius: 3px;
    margin: 0;
}
#weather-date {
    margin: 0;
    font-size: var(--standard-font-size);
    padding: 3px;
}
#weather-time {
    margin: 0;
    font-size: var(--standard-font-size);
}
#weather-img {
    margin: 0;
    width: 50px;
}
#weather-description {
    margin: 0;
    font-size: var(--standard-font-size);
}
#weather-temp {
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}
#weather-humidity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    font-size: var(--standard-font-size);
}
#humidity-data {
    margin-left: -25px;
    font-size: 1.4rem;
}
#humidity-icon {
    background-color: var(--icon-color);
    padding: 2px;
    border-radius: 3px;
    font-size: 2rem;
}
.icon svg {
    display: block;
}
#weather-sunset {
    width: 100%;
    font-size: var(--standard-font-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#sunset-icon {
    background-color: var(--icon-color);
    padding: 5px;
    border-radius: 3px;
    font-size: 1.6rem;
}

/* Extended Weather Data */

#daily-weather-forecast {
    grid-column: span 2;
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    max-height: 400px;
}
.forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--text-color);
    border: var(--text-color) solid 2px;
    background-color: var(--card-background-color);
    border-radius: 5px;
    width: 225px;
    height: 320px;
    margin: 5px;
    padding: 5px;
    transform: translateX(1000%);
    animation: slide var(--duration);
    animation-fill-mode: forwards;
}
.forecast-card:nth-child(2) {
    animation-delay: calc(0.6 * var(--duration));
}
.forecast-card:nth-child(3) {
    animation-delay: calc(1 * var(--duration));
}
.forecast-card:nth-child(4) {
    animation-delay: calc(1.3 * var(--duration));
}
.forecast-card:nth-child(5) {
    animation-delay: calc(1.5 * var(--duration));
}
.forecast-card:nth-child(6) {
    animation-delay: calc(1.7 * var(--duration));
}
.forecast-card:nth-child(7) {
    animation-delay: calc(1.8 * var(--duration));
}
@keyframes slide {
    from {
        transform: translateX(1000%);
    }
    to {
        transform: translateX(0%);
    }
}
#forecast-header {
    font-size: var(--header-font-size);
}
.forecast-weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--inner-card-background-color);
    border-radius: 5px;
    width: 90%;
}
#forecast-img {
    margin: 0;
    width: 50px;
}
#forecast-humidity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    font-size: var(--standard-font-size);
}
#forecast-humidity-data {
    margin-left: -20px;
    font-size: 1.4rem;
}
#forecast-humidity-icon {
    background-color: var(--icon-color);
    padding: 2px;
    border-radius: 3px;
    font-size: 2rem;
}
td {
    text-align: center;
    padding: 3px;
}
